<h1 style="text-align: center; font-family: Arial, Helvetica;">confirmar cuenta</h1>

<p style="font-family: Arial, Helvetica;">Confirna tu ecuenta en el siguinte enlace :</p>

<a style="display: block; font-family: Arial, Helvetica; padding: 1rem; background-color: #00c897; color: white; text-transform: uppercase; text-align: center; text-decoration: none;"
href="<%= url %>">Confirmar tu cuenta</a>

<p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace, visita: <%= url %></p>
<p style="font-family: Arial, Helvetica;">Si no solicitaste este email puedes ignorarlo</p>